hr {
	margin-top:5px;
	margin-bottom:5px;
}

body {
	font-size: 13px;
	overflow-y: hidden;
}

.title {
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
}

.geographicPathInfoFrame {
	position: absolute;
	top:400px;
	left:20px;
	z-index:999;
	width:20%;
	padding:10px;
	background-color:rgba(255,255,255,0.9);
	box-shadow: 0 0 10px #555 inset;
	bottom: 25px;
	overflow-y:auto;
}

.airportInfoFrame {
	position: absolute;
	top:10px;
	right:20px;
	z-index:999;
	width:20%;
	height: 310px;
	padding:10px;
	background-color:rgba(255,255,255,0.9);
	box-shadow: 0 0 10px #555 inset;	
	overflow: hidden;
	overflow-x:none;
}

li {
	margin-left: -25px;
}

.geographicPathInfoFrame li {
	margin-top: 4px;
}

.airportType {
	position: absolute;
	top:10px;
	left:20px;
	z-index:999;
	width:20%;
	padding:10px;
	background-color:rgba(255,255,255,0.9);
	box-shadow: 0 0 10px #555 inset;
}

.tweetsType {
	position: absolute;
	top:350px;
	right:20px;
	z-index:999;
	width:20%;
	padding:10px;
	bottom:5px;
	overflow-y: auto;
	background-color:rgba(255,255,255,0.9);
	box-shadow: 0 0 10px #555 inset;
}

.twitterImg {
	margin-top:-5px;
}

.airportType button {
	text-align:left;
	padding-left:10px;
}

#cesiumContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;	
}